[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0"
pillow = "*"
crispy-bootstrap4 = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.12"
